<!DOCTYPE html>
<html>
<head>
	<title>RecipeRendezvous - Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="loginpage">
        <div class="box">
            <form id='form' method='post' >
                <img src="{{url_for('static', filename='logo.png') }}" alt="RecipeRendezvous Logo">
                <h1>Welcome back to RecipeRendezvous!</h1>
                <div class="txt_field">
                    <input type="text" name="userid" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <input type="submit" value="Login">
                <a href="./homepage">go to homepage (Temporary)</a>
                <div class="signup">
                    Don't have an account? <a href="./signup">Signup</a>
                </div>
            </form>
        </div>
    </div>
	
</body>
</html>
