<!DOCTYPE html>
<html>
<head>
	<title>RecipeRendezvous - Signup</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="loginpage">
        <div class="box">
            <form id='form' method='post'>
                <img src="{{url_for('static', filename='logo.png') }}">
                <h1>Welcome to RecipeRendezvous! <br>Create an Account!</h1>
                <div class="txt_field">
                    <input type="text" name="new_userid" required>
                    <span></span>
                    <label>New Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="new_password" required>
                    <span></span>
                    <label>New Password</label>
                </div>
                <input type="submit" value="Submit">
                <div class="signup">
                    Back to Login Page: <a href="./login">home</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
